In [108]:
# DEPENDENCIES
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

# Addition needed for statistical analysis
import scipy.stats as st

In [109]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [110]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# Addition inspect
from sqlalchemy import create_engine, func, inspect

In [111]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [112]:
# reflect an existing database into a new model
# Declare a Base using `automap_base()`
Base = automap_base()

# reflect the tables
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [113]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [114]:
# Session link to check columns with inspector
inspector = inspect(engine)

In [115]:
# --- check columns
measures_columns = inspector.get_columns('measurement')
for column in measures_columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [116]:
# --- check columns
stations_columns = inspector.get_columns('station')
for column in stations_columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [117]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [118]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [119]:
# Check records
for row in session.query(measurement.id, measurement.station).limit(10).all():
    print(row)

(1, 'USC00519397')
(2, 'USC00519397')
(3, 'USC00519397')
(4, 'USC00519397')
(5, 'USC00519397')
(6, 'USC00519397')
(7, 'USC00519397')
(8, 'USC00519397')
(9, 'USC00519397')
(10, 'USC00519397')

In [120]:
# check measurements table content and fields
first_row = session.query(measurements).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2c3e5acb198>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65.0,
 'date': '2010-01-01',
 'id': 1}

In [121]:
# check station table content and fields
first_row = session.query(station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2c3e5acb5f8>,
 'elevation': 3.0,
 'latitude': 21.2716,
 'station': 'USC00519397',
 'id': 1,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US'}

# Exploratory Precipitation Analysis

In [130]:
# Find the most recent date in the data set.

# --- query the db and get the last data point (first in the descending order list) and find the date ---
most_recent_date = session.query(measurement.date).order_by(measurement.date.desc()).first()[0]
most_recent_date

'2017-08-23'

In [ ]:

# # --- convert string date to date format for use with datetime library ---
most_recent_date = (dt.datetime.strptime(last_date, "%Y-%m-%d")).date()
last_dt

In [128]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
# Calculate the date one year from the last date in data set.
# query_date = dt.date(2017, 8, 23) - dt.timedelta(days=365)
query_date = dtlast_dt - dt.timedelta(days=365)

query_date

# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

NameError: name 'last_dt' is not defined

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()