In [1]:
import numpy as np
import pandas as pd

In [2]:
# The statistical module used to run chi square test
import scipy.stats as stats

In [3]:
# Observed data in a (hypothetical) survey of 6000 people 
observed = pd.Series([1500, 1350, 1600, 1550], index=["1", "2", "3", "4"])

In [5]:
# Create a data frame
df = pd.DataFrame([observed]).T
df

      0
1  1500
2  1350
3  1600
4  1550

In [6]:
# Add a column whose default values are the expected values
df[1] = 1500
df

      0     1
1  1500  1500
2  1350  1500
3  1600  1500
4  1550  1500

In [7]:
# Rename the data frame columns
df.columns = ['Observed', 'Expected']
df

   Observed  Expected
1      1500      1500
2      1350      1500
3      1600      1500
4      1550      1500

In [8]:
#degree of freedom = 4 - 1 = 3

# Calculate the critical value
critical_value = stats.chi2.ppf(q = 0.95, df = 3)

In [9]:
# Print the critical value
critical_value

7.814727903251179

In [10]:
# Run the chi square test with stats.chisquare()
stats.chisquare(df["Observed"], df["Expected"])

Power_divergenceResult(statistic=23.333333333333336, pvalue=3.4411276663397364e-05)

In [14]:
print('Since the chi square value of 23.3 exceeds the critical value of 7.81 we conclude that')
print('the results are statistically significant')

Since the chi square value of 23.3 exceeds the critical value of 7.81 we conclude that
the results are statistically significant