# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# !pip install gmaps

In [26]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key
# g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [27]:
weather_data_df = pd.read_csv("../WeatherPy/clean_city_data_df.csv")
# weather_data = weather_data.reset_index
weather_data_df = weather_data_df[["City", "Lat", "Lng",
                                   "Country", "Max.Temp","Humidity","Cloudiness", "Wind Speed"]]
weather_data_df

,City,Lat,Lng,Country,Max.Temp,Humidity,Cloudiness,Wind Speed
0,Bjerkvik,68.5597,17.5189,NO,4.00,75,90,2.57
1,Thompson,55.7435,-97.8558,CA,12.00,35,75,3.60
2,Upernavik,72.7868,-56.1549,GL,-13.27,88,100,2.04
3,Hermanus,-34.4187,19.2345,ZA,17.78,85,100,5.45
4,Atuona,-9.8000,-139.0333,PF,26.72,75,25,5.54
...,...,...,...,...,...,...,...,...
517,Masuda,34.6667,131.8500,JP,13.33,71,75,1.54
518,Nuevo Progreso,23.1667,-97.9500,MX,21.67,55,2,4.02
519,Laas,46.6166,10.7002,IT,4.00,63,20,1.54
520,Ormara,25.2088,64.6357,PK,23.31,74,2,1.69
521,Gizo Government Station,-8.1030,156.8419,SB,29.16,67,2,1.32

In [28]:
# Drop NaN entries in table
weather_data_df =weather_data_df.dropna()
weather_data_df

,City,Lat,Lng,Country,Max.Temp,Humidity,Cloudiness,Wind Speed
0,Bjerkvik,68.5597,17.5189,NO,4.00,75,90,2.57
1,Thompson,55.7435,-97.8558,CA,12.00,35,75,3.60
2,Upernavik,72.7868,-56.1549,GL,-13.27,88,100,2.04
3,Hermanus,-34.4187,19.2345,ZA,17.78,85,100,5.45
4,Atuona,-9.8000,-139.0333,PF,26.72,75,25,5.54
...,...,...,...,...,...,...,...,...
517,Masuda,34.6667,131.8500,JP,13.33,71,75,1.54
518,Nuevo Progreso,23.1667,-97.9500,MX,21.67,55,2,4.02
519,Laas,46.6166,10.7002,IT,4.00,63,20,1.54
520,Ormara,25.2088,64.6357,PK,23.31,74,2,1.69
521,Gizo Government Station,-8.1030,156.8419,SB,29.16,67,2,1.32

In [29]:
# Save data frame to CSV
# i have anticipated step
weather_data_df.to_csv('weather_data_dropna.csv')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [30]:
gmaps.configure(api_key=g_key)
print(g_key)

AIzaSyCOMOayURILAeMZ1nLDdSAiZ6h2vX0j2h8

In [31]:
# Convert Humidity to float and store
humidity = weather_data_df["Humidity"].astype(float)

# Store 'Latitude' and 'Longitude' into  locations. 
locations = weather_data_df[["Lat", "Lng"]].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=10,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
wonder_places_df = weather_data_df
# A max temperature lower than 80 degrees but higher than 70. in my case celsius 26 < x < 21 degrees
wonder_places_df = wonder_places_df.loc[(wonder_places_df["Max.Temp"] < 26) 
                                        & (wonder_places_df["Max.Temp"] > 21)]

# Wind speed less than 10 mph. Metric 16 kph
wonder_places_df = wonder_places_df.loc[wonder_places_df["Wind Speed"] < 16]

# Zero cloudiness.
wonder_places_df = wonder_places_df.loc[wonder_places_df["Cloudiness"] == 0]

# Wind speed less than 10 mph. Metric 16 kph
wonder_places_df = wonder_places_df.loc[wonder_places_df["Humidity"] < 50]



# Drop any rows that don't contain all 4 conditions. You want to be sure the weather is ideal.
wonder_places_df = wonder_places_df.dropna()
wonder_places_df

,City,Lat,Lng,Country,Max.Temp,Humidity,Cloudiness,Wind Speed
25,Praia,14.9215,-23.5087,CV,22.00,46,0,5.14
218,Aswān,24.0934,32.9070,EG,21.90,32,0,3.93
255,Salalah,17.0151,54.0924,OM,24.00,46,0,0.51
325,Jalu,29.0331,21.5482,LY,22.28,19,0,4.69
338,Vila do Maio,15.1333,-23.2167,CV,22.00,46,0,5.14
473,Adrar,20.5022,-10.0711,MR,22.66,18,0,6.19

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
hotel_df = wonder_places_df
hotel_df

,City,Lat,Lng,Country,Max.Temp,Humidity,Cloudiness,Wind Speed
25,Praia,14.9215,-23.5087,CV,22.00,46,0,5.14
218,Aswān,24.0934,32.9070,EG,21.90,32,0,3.93
255,Salalah,17.0151,54.0924,OM,24.00,46,0,0.51
325,Jalu,29.0331,21.5482,LY,22.28,19,0,4.69
338,Vila do Maio,15.1333,-23.2167,CV,22.00,46,0,5.14
473,Adrar,20.5022,-10.0711,MR,22.66,18,0,6.19

In [34]:
#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print("")
    print(f"Retrieving Results for city: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
#       print("-------------------------")
#         #delay the code by one second to avoid an error
#         time.sleep(2)
print("")
print("-----------End Search---------")
hotel_df

Retrieving Results for city: Praia.
Closest hotel in Praia is Hotel Santiago.

Retrieving Results for city: Aswān.
Closest hotel in Aswān is Sofitel Legend Old Cataract Aswan.

Retrieving Results for city: Salalah.
Closest hotel in Salalah is Star Emirates garden villas.

Retrieving Results for city: Jalu.
Closest hotel in Jalu is Jalu Hotel.

Retrieving Results for city: Vila do Maio.
Closest hotel in Vila do Maio is Stella Maris.

Retrieving Results for city: Adrar.
Could not find result

-----------End Search---------

,City,Lat,Lng,Country,Max.Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
25,Praia,14.9215,-23.5087,CV,22.00,46,0,5.14,Hotel Santiago
218,Aswān,24.0934,32.9070,EG,21.90,32,0,3.93,Sofitel Legend Old Cataract Aswan
255,Salalah,17.0151,54.0924,OM,24.00,46,0,0.51,Star Emirates garden villas
325,Jalu,29.0331,21.5482,LY,22.28,19,0,4.69,Jalu Hotel
338,Vila do Maio,15.1333,-23.2167,CV,22.00,46,0,5.14,Stella Maris
473,Adrar,20.5022,-10.0711,MR,22.66,18,0,6.19,NaN

In [35]:
hotel_df = hotel_df.dropna()
hotel_df

,City,Lat,Lng,Country,Max.Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
25,Praia,14.9215,-23.5087,CV,22.00,46,0,5.14,Hotel Santiago
218,Aswān,24.0934,32.9070,EG,21.90,32,0,3.93,Sofitel Legend Old Cataract Aswan
255,Salalah,17.0151,54.0924,OM,24.00,46,0,0.51,Star Emirates garden villas
325,Jalu,29.0331,21.5482,LY,22.28,19,0,4.69,Jalu Hotel
338,Vila do Maio,15.1333,-23.2167,CV,22.00,46,0,5.14,Stella Maris

In [52]:
# NOTE: Do not change any of the code in this cell
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_info
# # locations = hotel_df[["Lat", "Lng"]]
# locations = hotel_df[["Lat", "Lng"]].astype(float)

AttributeError: 'list' object has no attribute 'iterrows'

In [48]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))