In [51]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [52]:
import numpy as np
import pandas as pd
import datetime as dt

In [53]:
from sqlalchemy.sql import func

## Reflect Tables into SQLALchemy ORM

In [54]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [55]:
# create engine to hawaii.sqlite
# engine = create_engine("sqlite:///hawaii.sqlite")

engine = create_engine('sqlite:///../Resources/hawaii.sqlite')

In [56]:
# reflect an existing database into a new model
# Declare a Base using `automap_base()`
Base = automap_base()

# reflect the tables
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [57]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [58]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [59]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Bonus Challenge Assignment: Temperature Analysis II

In [64]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, maximum, and average temperatures for that range of dates

start_date = '2017-08-01'
end_date = '2017-08-07'


def calc_temps(start_date, end_date):
     
    return session.query(func.min(measurement.tobs).label('min_temp'),\
                         func.max(measurement.tobs).label('max_temp'),\
                         func.avg(measurement.tobs.label('avg_temp'))).\
        filter(measurement.date >= start_date).filter(measurement.date <= end_date).all()


print(calc_temps)

MINIMUM temperature btw 2017-08-01 and 2017-08-07 is 72.0 degrees F.

MAXIMUM temperature btw 2017-08-01 and 2017-08-07 is 83.0 degrees F.

AVERAGE temperature btw 2017-08-01 and 2017-08-07 is 79.25 degrees F.

In [66]:
# Use the function `calc_temps` to calculate the tmin, tavg, and tmax 
# for a year in the data set

start_date = '2016-01-01'
end_date = '2016-12-31'

year_temperatures = calc_temps(start_date, end_date)
# variables to print
min = temps[0][0]
max = temps[0][1]
avg = temps[0][2]


print(f"MINIMUM temperature btw {start_date} and {end_date} is {min} degrees F.")
print("")
print(f"MAXIMUM temperature btw {start_date} and {end_date} is {max} degrees F.")
print("")
print(f"AVERAGE temperature btw {start_date} and {end_date} is {avg} degrees F.")

MINIMUM temperature btw 2016-01-01 and 2016-12-31 is 72.0 degrees F.

MAXIMUM temperature btw 2016-01-01 and 2016-12-31 is 83.0 degrees F.

AVERAGE temperature btw 2016-01-01 and 2016-12-31 is 79.25 degrees F.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for bar height (y value)
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

### Daily Rainfall Average

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's 
# matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Use this function to calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()

# For example
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip
start_date = '2017-08-01'
end_date = '2017-08-07'

# Use the start and end date to create a range of dates


# Strip off the year and save a list of strings in the format %m-%d


# Use the `daily_normals` function to calculate the normals for each date string 
# and append the results to a list called `normals`.

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`

## Close Session