### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#
num_of_players = len(purchase_data["SN"].unique())
num_of_players
#num_of_players
#print("Total Players: ", num_of_players)
total_num_players_df = pd.DataFrame({"Total Players": [num_of_players]})
total_num_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#
average = purchase_data["Price"].mean()

In [4]:
#
num_of_items = len(purchase_data["Item Name"].unique())
# num_of_items

In [5]:
num_of_purchases = purchase_data['Purchase ID'].count()
# num_of_purchases

In [6]:
#
total_revenue = purchase_data['Price'].sum()
#print(total_revenue)

In [7]:
#
summary_df = pd.DataFrame({"Number of Unique items": [num_of_items],
                           "Average Price": average,
                           "Number of Purchases": num_of_purchases,
                           "Total Revenue": total_revenue,})

summary_df["Average Price"] = summary_df["Average Price"].map("$ {:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("$ {:.2f}".format)
summary_df

   Number of Unique items Average Price  Number of Purchases Total Revenue
0                     179        $ 3.05                  780     $ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#
demographics = purchase_data['Gender'].value_counts()

In [9]:
#
demographics_df = pd.DataFrame({"Gender": demographics})

In [10]:
#
demographics_df['Percentage of Players'] = (demographics_df['Gender'] / demographics_df['Gender'].sum()) * 100
# demographics_df
demographics_df['Percentage of Players'] = demographics_df['Percentage of Players'].map("{:.2f} %".format)
# demographics_df.style.set_properties(**{'border-color': 'black' ,
#                                         'border-width': '1px' ,
#                                         'border-style': 'solid'})
                                                               
demographics_df

                       Gender Percentage of Players
Male                      652               83.59 %
Female                    113               14.49 %
Other / Non-Disclosed      15                1.92 %


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
games_by_gender = purchase_data.groupby('Gender')
games_by_gender.head()
#
sum_gender = purchase_data['Gender'].value_counts()
gender_df = pd.DataFrame({"Purchase Count": sum_gender})
gender_df

                       Purchase Count
Male                              652
Female                            113
Other / Non-Disclosed              15

In [12]:
# Average per Gender

avg_gender = games_by_gender[["Gender", "SN", "Price"]]
avg_gender.mean()


gender_df['Avg Purchase Price'] = (avg_gender.mean())
gender_df['Avg Purchase Price'] = gender_df['Avg Purchase Price'].map("$ {:.2f}".format)
gender_df

                       Purchase Count Avg Purchase Price
Male                              652             $ 3.02
Female                            113             $ 3.20
Other / Non-Disclosed              15             $ 3.35

In [13]:
# Total purchase value

total_purchase_gender = games_by_gender[["Gender", "SN", "Price"]]
# total_purchase_gender.sum()


gender_df['Total Purchase Values'] = (total_purchase_gender.sum())
gender_df['Total Purchase Values'] = gender_df['Total Purchase Values'].map("$ {:.2f}".format)
gender_df

                       Purchase Count Avg Purchase Price Total Purchase Values
Male                              652             $ 3.02             $ 1967.64
Female                            113             $ 3.20              $ 361.94
Other / Non-Disclosed              15             $ 3.35               $ 50.19

In [50]:
# Avg total per person

games_by_person = purchase_data.groupby('SN')
games_by_person.head()
#


# gender_df = pd.DataFrame({"Purchase Count": sum_gender})
# gender_df

                      Purchase ID  Age  Item ID  Price
Gender SN
Female Adastirin33            142   35      175   4.48
       Aerithllora36          852   58      235   8.64
       Aethedru70             775   21       60   3.54
       Aidain51               516   39       35   3.45
       Aiduesu86              429   22      179   4.48

In [4]:
sum_SN = games_by_person['SN'].value_counts()
sum_SN

NameError: name 'games_by_person' is not defined

In [55]:
sum_persons = purchase_data['SN'].value_counts()
sum_persons

sum_persons_df = pd.DataFrame({"Sum Persons": sum_persons})
sum_persons_df

               Sum Persons
Lisosia93                5
Iral74                   4
Idastidru52              4
Sondastsda82             3
Lisopela58               3
...                    ...
Lassjask63               1
Chadistaya75             1
Rairith81                1
Alaesu91                 1
Chamadarnya73            1

[576 rows x 1 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame